/* Atom Gallery 1.0 - CSS */

.atom-gallery {	
	margin:0px auto;
	text-align:center;
	width:800px;
	font-family: arial;
}

.atom-gallery .holder {	
	margin:5px auto;
	text-align:center;	
	padding:10px 10px 5px 10px;
	border: 1px solid #DFDFDF;
	position: relative;
}

.atom-gallery .holder img {	
	box-shadow: 0px 0px 3px #333333;	
}
.atom-gallery .holder div.description {	
	position: absolute;
	bottom:18px;
	right:-14px;	
	
	
	color:#FFFFFF;
	background-color:rgba(0,0,0,.7);
	font-size:18px;
	font-weight:bold;
	padding: 10px 40px 10px 20px;
	box-shadow: 0px 0px 3px #333333;
}

.atom-gallery ul.thumbnails {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
}

.atom-gallery ul.thumbnails li {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;
	list-style: none;
	display:inline;	
}

.atom-gallery ul.thumbnails li a {
	margin:2px;
	padding:10px 10px 10px 10px;
	border: 1px solid #DFDFDF;
	display: inline-block;
}

.atom-gallery ul.thumbnails li a:hover {
	background-color: #EFEFEF;
}

.atom-gallery ul.thumbnails img {
	margin:0px 0px 0px 0px;
	padding:0px 0px 0px 0px;	

	opacity: .8;
	box-shadow: 0px 0px 3px #333333;
}
.atom-gallery ul.thumbnails img.inactive {
	opacity: .8;
	box-shadow: 0px 0px 3px #333333;
}
.atom-gallery ul.thumbnails img.inactive:hover {
	opacity: 1;
	box-shadow: 0px 0px 10px #999999;
}

.atom-gallery ul.thumbnails img.active {
	opacity: 1;
	box-shadow: 0px 0px 10px #999999;
}
.atom-gallery ul.thumbnails img.active:hover {
	opacity: 1;
	box-shadow: 0px 0px 10px #999999;
}
